- if can? :index,  KepplerCatalogs::Catalog
	%li
		= header_tab t('model.plural.catalogs'), "perm_media", current_navigation?("KepplerCatalogs")
		= body_tab do
			- if can? :index, KepplerCatalogs::Catalog
				= link_tab "Lista de catálogos", '/admin/catalogs', current_tab?("Catalogs", "Attachments")
			- if can? :index, KepplerCatalogs::Category
				= link_tab "Categorías", "/admin/attachment/categories", current_tab?("Categories")

