%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'OMNI TOURS COLOMBIA "Pone a Colombia en sus manos"'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Somos una agencia de viajes de origen y capital colombiano, especializada en diversos destinos del país, como Cartagena, Bogotá, Santa Marta, La Guajira, Triángulo del Café, Amazonas, Capurganá, Santander, Medellín, Tolú, Coveñas, San Andrés, Providencia, Bahía Solano, Popayán, Pasto, Villa de Leyva, Paipa, entre muchos otros. Ofrecemos paquetes vacacionales via terrestre, aérea, o sin transporte; tiquetes aéreos, tarjetas de asistencia médica, servicios de guías turísticos, alquiler de autos y '}"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/packages/PorcionTerrestre.png"
	= csrf_meta_tags
	- if action_name == "package_show"
		%meta{:content => "#{request.base_url + @attachment.attachment_images.first.image.to_s}", :property => "og:image"}

	:javascript
		WebFontConfig = {
			google: { families: [ 'Roboto:400,500:latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();

