%li 
	= link_to "http://www.omnitours.com.co/ingreso-agencias?returnurl=%2f" do
		Iniciar

%li 
	= link_to "http://www.omnitours.com.co/register?returnurl=http%3a%2f%2fwww.omnitours.com.co%2f" do
		Registrar
%ul#nav-contact
	%li#phone-2
		%i.fa.fa-mobile 
		%p (+571) 756 2614 / 805 6000
	%li#phone #{image_tag "frontend/Logo_Telefono.png"} (+57) 310 306 1660
	%li#skype #{image_tag "frontend/Logo_Skype.png"} OmnitoursColombia
