-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      = link_to root_path do
        %i.fa.fa-undo.navbar-toggle.hidden-lg.hidden-md.hidden-sm
      %span.brand-logo
        = link_to "http://www.omnitours.com.co" do
          = image_tag "frontend/Logo_Omnitours.png"
          
    .collapse.navbar-collapse.hidden-xs
      %ul.nav.navbar-nav        
        = render 'layouts/frontend/navigation_links'
