// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main{
	height: 100%;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #15a656;
  color: #fcd10a;
  font-size: 15px; 
  @include transition(.3s);
}

.navbar-default .navbar-toggle {
  position: relative;
  border-color: #15a656;
  color: #15a656;
  top: 25px;
  font-size: 12px; 
    z-index: 10000;
    @include transition(.3s);

    @media #{$phone-landscape}{
    	top: 0px;
    }
}


.slick-next{
	right: 3%;
}

.slick-prev{
	z-index: 1000;
	left: 2%;
}

.slick-prev:before{
	font-size: 30px;
}

.slick-next:before{
	font-size: 30px;
}

.slick-initialized{
	.slick-slide{
		outline: none;
	}
}

.catalogs{
	position: relative;
	width: 100%;
	padding: 50px 85px 0 85px;
	margin-top: 80px;

	@media #{$phone-small}{
		padding: 30px 25px 0 25px;
	}

	@media #{$phone-landscape}{
		padding: 0px 85px 0 85px;
	}

	@media #{$tablet-portrait}{
		padding: 50px 80px 0 80px;
	}

	.catalog-header{
		width: 100%;
		margin-top: 25px;
		.catalog-title{

			.icon{

				img{
					display: inline-block;

					@media #{$tablet-portrait}{
						margin-bottom: 20px;
					}
				}

				p{
					display: inline-block;
					text-transform: uppercase;
					position: relative;
					top: 0;
					color: #15a656;
					font-size: 17px;
					margin-left: 15px;

					@media #{$phone-small}{
						margin-left: 0px;
					}
				}	
			}
		}

		.catalog-description{

			.border-description{
				min-height: 60px;
				border-left: 3px solid #15a656;
				margin: 0 0 50px 0;

				@media #{$tablet-portrait}{
					margin: 15px 0 30px 0;
				}
			}

			p{
				margin: 0 0 0 15px;
			}
		}
	}

	.catalog-body{
		.attachment{
			overflow: hidden;
			margin-bottom: 25px;
			height: 300px;
			background-size: cover !important;
			cursor: pointer;

			&-mask{
				background: $mask-color;
				width: 100%;
				height: 123%;
				position: relative;
				bottom: -77%;
				@include transition(.3s);

				&-header{
					background: transparent;
					position: relative;
					width: 100%;
					height: 22%;
					padding: 10px;
					color: white;
					font-family: $roboto;
					p{
						margin-bottom: 0px;
					}
					&-title{
						position: absolute;
						left: 15px;

						p{
							font-weight: 500;
    						font-size: 17px;

	    					@media #{$phone-small}{
	    						font-size: 16px;
	    						margin-top: 5px;
	    					}
						}

						.text-size{
							font-size: 20px;
							font-weight: 400;
							position: relative;
							top: 8px;
						}

						small{
							font-weight: 300;
    					font-size: 16px;

    					@media #{$phone-small}{
    						font-size: 14px;
    					}
						}
					}
					&-price{
						position: relative;
						/*right: -205px;
						border-left: 1px solid white;
						padding-left: 10px;*/
						height: 80%;

						@media #{$tablet-portrait}{
							right: -60%;
						}

						p{
							font-weight: 300;
    					font-size: 18px;
    					/*position: absolute;
    					top: 20px;*/

    						@media #{$phone-small}{
    							font-size: 30px;
    							top: 15px;
    						}
						}
						small{
							font-weight: 300;
							font-size: 16px;
						}
					}
				}

				&-body{
					text-align: center;
					margin-top: 30px;
					padding: 0 5px;
					a{
						color: white;
						text-decoration: none;
						font-family: $roboto;
					}
					.name{
						font-weight: 500;
						font-size: 1.5em;
						margin-bottom: 10px;
					}
					.view-more{
						font-weight: 500;
						font-size: 1em;
						border-bottom: 1px solid white;
						border-top: 1px solid white;
						padding: 8px;
						position: relative;
						top: 10px;
					}
					.view-more:hover{
						color: $primary-color;
					}
					#socials{
						padding: 0px;
						list-style-type: none;
						position: relative;
						top: 20px;
					}
				}
			}
		}

		.attachment:hover{
			.attachment-mask{																																																																																																																																																																																																																																																																																																											 
				bottom: 23%;
				@include transition(.3s);
			}
		}
	}
}

.catalog-footer{
	.footer-certificados{
		margin-top: 10px;
		margin: 5px 36% 0 36%;
		padding: 0; 
		list-style-type: none;

		@media #{$phone-small}{
			margin: 10px 1%;
		}
		@media #{$phone-landscape}{
			margin: 10px 21.5%;
		}

		@media #{$tablet-portrait}{
			margin: 10px 26.5%;
		}

		@media #{$tablet-7}{
			margin: 5px 20%;
		}

		li{
			display: inline-block;

			img{
				max-width: 80%;
			}
		}

		p{
			width: 100%;
			text-align: center;
			position: relative;
			right: 8px;

			@media #{$phone-small}{
				right: 0px;
			}
		}


	  @media #{$phone-small}{
	  	padding: 0px;
	  }
	}

	.text-certificados{
		text-align: center;
		margin: 0 0 5px 0;
	}

	.footer-content{
		padding: 10px;
		height: 240px;
		background-color: #AAAAAA;

		@media #{$phone-small}{
			padding: 40px 20px 0px 20px;
			height: 365px;
		}

		@media #{$phone-landscape}{
			height: 365px;
		}

		@media #{$tablet-portrait}{
			height: 375px;
		}

		@media #{$tablet-7}{
			height: 375px;
		}

		.links-footer{
			color: #fff;
		    font-weight: bold;
		    padding: 20px;

	    p{
	    	margin: 0 0 5px 0;

	    	@media #{$desktop}{
	    		font-size: 13px;
	    	}
	    }
		}

		a{
			text-decoration: none;
			color: #fff;
		}

		a:hover{
			text-decoration: underline;
			color: #15a656;
		}

		.adress{
			padding: 20px;

			@media #{$phone-small}{
				position: relative;
    			top: 112px;
    			padding: 15px;
			}

			@media #{$phone-landscape}{
				position: relative;
    			top: 132px;
			}

			@media #{$tablet-portrait}{
				position: relative;
				top: 140px;
			}

			@media #{$tablet-7}{
				position: relative;
				top: 140px;
			}


			.icon-social-footer{
				font-size: 42px;
    			color: #fff;
    			position: relative;
    			left: 38%;
    			margin-right: 15px;

				@media #{$phone-small}{
					left: 35%;
				}

				@media #{$phone-landscape}{
					left: 42%;
				}

				@media #{$tablet-portrait}{
					left: 43.5%;
				}

				@media #{$tablet-7}{
					left: 42%;
				}

			}

			.icon-social-footer:hover{
				color:#FCD10A;
				@include transition(.2s);
			}

			#follow{
				font-size: 20px;
				margin-bottom: 20px;
				text-align: center;
				position: relative;
				left: 3%;
				top: 8px;

				@media #{$phone-small}{
					left: 0;
				}

				@media #{$phone-landscape}{
					left: 0;	
				}	

				@media #{$tablet-portrait}{
					left: 0;
				}

				@media #{$tablet-7}{
					left: 0;
				}

			}

			&-content{
				position: relative;
				left: 16%;

				@media #{$desktop}{
					font-size: 13px;
				}

				@media #{$phone-small}{
					left: 0;
				}

				@media #{$phone-landscape}{
					left: 0;
				}

				@media #{$tablet-portrait}{
					left: 0;
				}

				@media #{$tablet-7}{
					left: 0; 	
				}
			}

			p{
				text-align: left;
				color: #fff;
				font-weight: bold;
				margin: 0 0 5px 0;

				@media #{$phone-small}{
					text-align: center;
				}

				@media #{$phone-landscape}{
					text-align: center;
				}

				@media #{$tablet-portrait}{
					text-align: center;
				}

				@media #{$tablet-7}{
					text-align: center;
				}

			}
		}

		.logo-onmi{
			position: relative;
			top: 0px;

			@media #{$phone-small}{
				top: -285px; 
	    		position: relative;
			}

			@media #{$phone-landscape}{
				top: -260px; 
	    	position: relative;
			}

			@media #{$tablet-portrait}{
				top: -260px; 
	    	position: relative;
			}

			@media #{$tablet-7}{
				position: relative;
				top: -260px;
			}

			@media #{$tablet-7-landscape}{
				position: relative;
				top: -800px;
			}
			
			p{
				color: #fff;
			    font-weight: bold;
			    padding: 15px 25px;
			}

			img{
				width: 200px;
			}
		}

		.payment{
			padding-top: 20px;
			p{
				color: #fff;
				font-weight: bold;
				margin: 0;
			}

			.icon-pago{
				position: relative;
    			top: 25px;

    			img{
    				width: 60px;
    			}
			}

			#american{
				width: 40px;
			}

			#visa{
				position: relative;
				top: 2px;
			}

			#dinner{
				position: relative;
    			top: 30px;
			}
		}

		.more-logos{
			margin-top: 100px;
			width: 70%;

			#davivienda{
				position: relative;
				top: -35px;

				@media #{$phone-small}{
					position: relative;
					top: 0;
				}

				 @media #{$phone-landscape}{
				 	position: relative;
					top: 0;
				 }
			}
		}
	}

	.creditos{
		background: black;
		height: 60px;

		@media #{$phone-small}{
			height: 60px;
		}

		.content-creditos{
			padding-top: 4px;

			@media #{$phone-small}{
				padding-top: 14px;
    		padding-left: 10px;
			}


			.icons-creditos{
					width: 75% !important;
			    margin: 0px;
			    position: relative;
			    left: 25%;
			    top: 10px;

			    @media #{$phone-small}{
				    width: 100% !important;
				    margin: 0;
				    position: relative;
				    left: 0;
				    top: 0;
			    }

			    @media #{$phone-landscape}{
			    	position: relative;
			    	left: 0;
			    }

			    @media #{$tablet-portrait}{
			    	width: 66% !important;
			    	left: 24%;
			    }

			    @media #{$tablet-7}{
			    	width: 83% !important;
			    	left: 16%;
			    }
			}
			
			p{
				position: relative;
				left: -120px;
				color: #fff;
				display: inline-block;
				font-weight: bold;

				@media #{$phone-small}{
					left: 18px;
					font-size: 10px;
				}

				 @media #{$phone-landscape}{
				 	left: 50%;
				 }

				 @media #{$tablet-portrait}{
				 	left: 0;
				 }

				 @media #{$tablet-7}{
				 	left: 0;
				 }

			}

			#top{
				position: relative;
				top: 5px;

			}

			img{
				left: -115px;
    		position: relative;
				display: inline-block;

				@media #{$phone-small}{
					left: 20px;
				}

				 @media #{$phone-landscape}{
				 	left: 50%;
				 }

				 @media #{$tablet-portrait}{
				 	left: 0%;
				 }

				 @media #{$tablet-7}{
				 	left: 0;
				 }
			}

			#logoslice{
				width: 60px;

				@media #{$phone-small}{
					width: 55px;
				}

			}

			#logo-netactica{
				top: 2px;
				width: 120px;

				@media #{$phone-small}{
					width: 80px;
					margin-top: 5px;
				}
			}
		}
	}
}

.social-share-button{
	a{
		text-decoration: none;
		color: white !important;
		font-size: 50px;
		margin-left: 3px;
		@include transition(.3s);
	}

	a:hover{
		color: $primary-color !important;
		@include transition(.3s);
	}

	&-twitter:before{
		@include icon-before("\f081");
	}

	&-facebook:before{
		@include icon-before("\f082")
	}
	
	&-google_plus:before{
		@include icon-before("\f0d4")
	}

	&-pinterest:before{
		@include icon-before("\f0d3")
	}

	&-tumblr:before{
		@include icon-before("\f174")
	}

	&-email:before{
		@include icon-before("\f199")
	}

}