@import "../core/main";

#front-navbar{ 
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: #fcd10a;
	margin-bottom: 0px;
	height: 100px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	font-family: $roboto;

	@media #{$phone-landscape}{
		height: 50px;
	}

	a{
		color:white;
		font-size: 12px;
		font-weight: 300;
		text-decoration: underline;
	}

	.container{
		width: 100%;
		padding-left: 35px;
	}

	.brand-logo{
		font-family: 'Patua One', cursive;
		position: relative;
		left: 10px;
		top: 15px;
		font-size: 30px;
		color: #ffffff;

		@media #{$phone-landscape}{
			top: 0px;
			left: 0px;
		}

		@media #{$phone-small}{
			left: -12px;
			top: 20px;
		}

		img{
			@media #{$phone-small}{
				width: 70%;
			}

			@media #{$phone-landscape}{
				width: 30%;
			}
		}
	}

	.nav.navbar-nav{
		float: right;
		margin-top: 2px;

		li{
			position: relative;
			color: #15a656;
			a{
				color: rgba(21, 166, 86, 1);
				padding: 0px 10px 0px 0px;
			}
		}

		img{
			display: inline-table;
		}

		ul#nav-contact{
			position: absolute;
			list-style-type: none;
			right: 110px;
			padding: 0px;
			margin-top: 10px;


			li{
				position: relative;
				top: -10px;
				left: -30px;
				font-size: 0.9em;
				font-weight: 400;
				font-style: italic;

				img{
					width: 30px;
				}
			}

			#phone-2{

				left: -23px;
				top: -4px;

				i{
					font-size: 25px;
					display: inline-block;

				}
				p{
					display: inline-block;
				}
			}
		}
	}
}