@import "../core/main";

.package-information{
	width: 100%;
	padding: 100px 10%;

	@media #{$phone-small}{
		padding: 100px 5% 30px 5%;
	}

	@media #{$phone-landscape}{
		padding: 60px 5% 30px 5%;
	}


	.package-category{
		width: 100%;
		margin-bottom: 60px;
		margin-top: 20px;

		@media #{$tablet-portrait}{
			margin-bottom: 20px;
		}

    a{
		font-family: 'Roboto', sans-serif;
	    color: #757373;

    }


    #link-bold{
    	font-weight: 500;
    }
	}

	.attachment-information{
		@media #{$phone-small}{
			margin-top: 20px;
		}

		.attachment-description{

			.attachment-images{
				@media #{$phone-small}{
					position: relative;
    				top: -90px
				}

				@media #{$tablet-portrait}{
					position: relative;
					top: 0px;
				}
			}
			#title{
				color: #15A656;
				font-size: 23px;
				font-weight: bold;
				font-family: 'Roboto', sans-serif;

				@media #{$phone-small}{
					font-size: 22px;
				}
			}

			#name{
				margin: 0 0 10px 0;
				color: #15A656;
				font-size: 16px;
				
				font-family: 'Roboto', sans-serif;

				@media #{$phone-small}{
					font-size: 13px;
				}

			}

			.text-title{
				margin: 0;
				font-family: 'Roboto', sans-serif;
				font-weight: bold;
				color: #757373;
			}

			.text-variable{
				margin: 0px;
				font-family: 'Roboto', sans-serif;
				color: #757373;
			}

			.text-price{
				color: #15A656;
				border: 3px solid #FCD10A;
				margin-right: 30%;
				text-align: center;
				font-size: 25px;
				font-weight: 500;
				position: relative;
				top: 50px;

				@media #{$phone-small}{
					position: relative;
    				top: 390px;
    				left: 0;
    				margin-right: 0;
    				display: none;
				}

				@media #{$phone-landscape}{
					top: 0px;
					margin-right: 0;
					display: none;
				}

				@media #{$tablet-portrait}{
					top: 0px;
					margin-right: 0;
				}
			}

			#select-reserva{
				margin-top: 20px;
				z-index: 2;

				@media #{$phone-small}{
					margin-top: 0;
					position: relative;
	    			top: 350px;
	    		}

	    		@media #{$phone-landscape}{
	    			margin-top: 0;
	    			margin-bottom: 15px;
	    		}	
			}

			.link-reserva{
				text-decoration: none;
				color: #fff;
				background: #15A656;
				padding: 9px 33%;
				font-size: 20px;
				width: 100%;
				font-weight: bold;
				position: relative;
				top: 15px;
				display: block;
				pointer-events: none;
				z-index: 100;
				@include transition(.5s);

				@media #{$phone-small}{
					position: relative;
    				top: 360px;
    				left: 0;
    				width: 100%;
    				padding: 9px 33%;
				}

				@media #{$phone-landscape}{
					top: -5px;
					width: 100%;
					padding: 9px 40%;
				}

				@media #{$tablet-portrait}{
					top: -4px;
					width: 100%;
					padding: 9px 40%;
				}
			}

			.link-reserva:hover{
				background: #fcd10a;
				@include transition(.5s);
			}

			.attachment-day{
				margin-bottom: 10px;
			}
		}
	}

	.package-body{
		margin-top: 40px;

		@media #{$phone-small}{
			margin-top: 25px;
		}

		@media #{$phone-landscape}{
			margin-top: 20px;
		}

		@media #{$tablet-portrait}{
			margin-top: 20px;
		}

		.package-body-map{
			width: 100%;

			iframe{
				width: 100%;
				height: 300px;
			}

			h4{
				font-family: 'Roboto', sans-serif;
				color: rgba(0,0,0,0.6);
				text-transform: uppercase;
				display: inline-block;
			}
		}

		.packege-body-price-for-person{
			width: 100%;
			height: 250px;

			@media #{$desktop}{
				margin-top: 10px;
			}

			@media #{$phone-small}{
				display: none;

			}

			@media #{$phone-landscape}{
				margin-top: 10px;
				height: 180px;
			}

			@media #{$tablet-portrait}{
				margin-top: 10px;
			}

			img{
				max-height: 250px;
				width: 100%;
			}

			h4{
				color: #15A656;
				text-transform: uppercase;
				display: inline-block;
				font-family: 'Roboto', sans-serif;

				@media #{$phone-landscape}{
					margin: 0;
				}
			}

		}

		.packege-body-importanr-and-opcional{
			margin: 40px 0 0 0;

			@media #{$phone-small}{
				margin: 20px 0 0 0;
			}

			@media #{$phone-landscape}{
				margin: 20px 0 0 0;
			}

			@media #{$tablet-portrait}{
				margin: 20px 0 0 0;
			}

			h4{
				display: inline-block;
				color: #15A656;
    			font-weight: bold;

			}

			
			i{
				font-size: 30px;
				margin-right: 10px;
			}

			#icon-bull{
				color: red;
			}

			#icon-map{
				color: blue;

				@media #{$phone-small}{
					margin: 20px 10px 20px 0;

				}

				@media #{$phone-landscape}{
					margin: 20px 10px 20px 0;
				}
			}

			p{
				font-family: 'Roboto', sans-serif;
				padding-right: 15px;
				text-align: justify;

				@media #{$phone-small}{
					text-align: justify;
				}

				@media #{$phone-landscape}{
					text-align: justify;
				}
			}
		}	

		.package-body-incluye-no-incluye{

			padding-left: 5px;

			@media #{$phone-small}{
				margin-top: 20px;
				padding-left: 0px;
			}

			@media #{$phone-landscape}{
				margin-top: 20px;
				padding-left: 0px;
			}

			@media #{$tablet-portrait}{
				padding-left: 0;
				margin-top: 20px;
			}

			p{
				font-family: 'Roboto', sans-serif;
			}

			h4{
				color: #15A656;
			  	font-family: 'Roboto', sans-serif;
				text-transform: uppercase;
				display: inline-block;
				font-weight: bold;
				margin-top: 0px;
				margin-left: 5px;

				@media #{$phone-small}{
					margin-bottom: 20px;

				}

				@media #{$phone-landscape}{
					margin-bottom: 20px;
				}
			}

			ul {
		    list-style: none;
		    padding:0;
		    margin:0;
			}

			li {
				  font-family: 'Roboto', sans-serif; 
			    padding-left: 1em; 
			    text-indent: -.7em;
			    text-align: justify;
			    margin-bottom: 5px;

			    @media #{$phone-small}{
			    	padding-left: 5px;
			    	padding-right: 5px;
			    }
			    @media #{$phone-landscape}{
			    	padding-left: 5px;
			    	padding-right: 5px;
			    }
			}

			li:before {
		    content: "• ";
		    color: #FCD10A;
		    font-size: 20px;
			}
		}
	}
}

.package-itinerario{
	background: #FDE160;
	width: 100%;
	padding: 1% 2%;
	margin-bottom: 45px;

	@media #{$phone-small}{
		padding: 5% 5%;
	}

	&-title{
		color: #15a656;
		font-weight: bold;
		margin-bottom: 30px;
	}

	ul{
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
		padding:0;
		margin:0;

		@media #{$phone-small}{
			display: inline-block;
			padding: 0 5%;
			-webkit-column-count: 1;
	    	-moz-column-count: 1;
	    	column-count: 1;
		}

		@media #{$phone-landscape}{
			display: inline-block;
			padding: 0 5%;
			-webkit-column-count: 1;
	    	-moz-column-count: 1;
	    	column-count: 1;
		}


		li{
			list-style-type: decimal;
			text-align: justify;
			list-style-color: #f90;
			font-family: 'Roboto', sans-serif; 
			line-height: 1.5em;
			margin: 0 5%;
			padding-left: 1em; 
			text-indent: -.7em;
			text-align: justify;
			margin-bottom: 5px;

			@media #{$phone-small}{
				width: 100%;
				margin: 0 0 10px 0;
			}

			span{
				color: #fff;
			}
		}
	}

}













