.wrapper
	.wrapper-body.container
		.actions
			= link_to catalogs_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @catalog do |f|
					.row
					
						= f.input :cover, label: t("model.#{controller_name.singularize}.attributes.cover"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :title, label: t("model.#{controller_name.singularize}.attributes.name")								
						= f.input :description, label: t("model.#{controller_name.singularize}.attributes.description"), :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }
						= f.input :section, label: t("model.#{controller_name.singularize}.attributes.section"), label: false, collection: KepplerCatalogs.sections,include_blank: "- Selecciona una sección -", input_html: { class: "browser-default" }
						= f.input :public, label: t("model.#{controller_name.singularize}.attributes.public"), as: :checkbox_material

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
- if @catalog.cover.file
	:javascript
		$('.file-path').val("#{@catalog.cover}")