.catalog-footer
	

	.footer-content
		.row{style:"width:100%; margin: 0px;"}
			.col-lg-2{:style => "padding: 0px;"}
				.links-footer.hidden-xs.hidden-sm.hidden-md
					= link_to "http://www.omnitours.com.co/la-agencia" do
						%p La agencia
					= link_to "http://www.omnitours.com.co/condiciones-de-reserva" do
						%p Condiciones de reserva
					= link_to "http://www.omnitours.com.co/veh%C3%ADculos" do
						%p Vehiculos
					= link_to "http://www.omnitours.com.co/explotaci%C3%B3n-infantil" do
						%p Explotacion infantil
					= link_to "http://www.omnitours.com.co/protecci%C3%B3n-de-datos" do
						%p Proteccion de datos
					= link_to "http://www.omnitours.com.co/politicas-de-sostenibilidad" do
						%p Politica de sostenibilidad
					= link_to "http://www.omnitours.com.co/privacy" do
						%p Politica de privacidad
					= link_to "http://www.omnitours.com.co/terminos-de-uso" do
						%p Terminos de uso
			.col-lg-3{:style => "padding: 0px;"}
				.adress
					= link_to "https://facebook.com/OMNITOURSColombia", target: "_blank" do
						%i.fa.fa-facebook-square.icon-social-footer
					= link_to "https://instagra.com/omnitourscol", target: "_blank" do
						%i.fa.fa-instagram.icon-social-footer
					%center
						%p#follow ¡siguenos!
						.adress-content
							%p OMNI TOURS COLOMBIA LTDA
							%p RNT - 7873 PBX
							%p info@omnitours.com.co Calle 54 A
							%p #15-76 L7 | Bogota D.C. Colombia
			.col-lg-3{:style => "padding: 0px;"}
				.logo-onmi
					%center
						= image_tag "frontend/Logo_Omnitours2.png", id:"logo-omni"
			.col-lg-2{:style => "padding: 0px;"}
				.payment.hidden-xs.hidden-sm.hidden-md
					.col-lg-12
						%p MEDIOS DE PAGO
					.icon-pago
						.col-lg-6.img
							= image_tag "frontend/Logo_AmericanExpress.png", id:"american"
						.col-lg-6.img
							= image_tag "frontend/Logo_MasterCard.png", id:"master"
						.col-lg-6.img
							= image_tag "frontend/Logo_DinnerClass.png", id:"dinner"
						.col-lg-6.img
							= image_tag "frontend/Logo_Visa.png", id:"visa" 
			.col-lg-2{:style => "padding: 0px;"}
				.more-logos.hidden-xs.hidden-sm.hidden-md
					.col-lg-12
						= image_tag "frontend/Logo_Davivienda.png", id:"davivienda"
					.col-lg-12
						= image_tag "frontend/Logo_BanCOlombia.png"

	%ul.footer-certificados
		%li
			= image_tag "frontend/Certificaciones_2.png"
		%li	
			= image_tag "frontend/Certificaciones3.png"
		%li
			= image_tag "frontend//Certificaciones_1.png"
		%li
			= image_tag "frontend/Logo_Colombia2.png"
		%li
			= image_tag "frontend/Logo_ProExport.png"

	%p.text-certificados Las fotos contenidas en este website son cortesia de ProColombia, prohibida reproduccion total o parcial

	.creditos
		.content-creditos
			.row.icons-creditos{style:"width:100%; margin: 0px;"}
				.col-lg-3.col-xs-6{style:"padding: 0px; float: left;"}
					%p.text-creditos#top POWERED BY
					= link_to "http://www.netactica.com", target: '_blank' do
						= image_tag "frontend/logo_Netactica.png", id:"logo-netactica"

				.col-lg-3.col-xs-6#right-content{style:"padding: 0px"}

				.col-lg-3.col-xs-6{style:"padding: 0px; float: right"}

					%p.text-creditos DESIGN BY
					= link_to "http://slicegroup.xyz", target: '_blank' do
						= image_tag "frontend/slice.png", id:"logoslice"