.web-footer
	.footer-content
		.footer-content-links
			= link_to "http://www.omnitours.com.co/la-agencia" do
				%p La agencia
			= link_to "http://www.omnitours.com.co/condiciones-de-reserva" do
				%p Condiciones de reserva
			= link_to "http://www.omnitours.com.co/veh%C3%ADculos" do
				%p Vehiculos
			= link_to "http://www.omnitours.com.co/explotaci%C3%B3n-infantil" do
				%p Explotacion infantil
			= link_to "http://www.omnitours.com.co/protecci%C3%B3n-de-datos" do
				%p Proteccion de datos
			= link_to "http://www.omnitours.com.co/politicas-de-sostenibilidad" do
				%p Politica de sostenibilidad
			= link_to "http://www.omnitours.com.co/privacy" do
				%p Politica de privacidad
			= link_to "http://www.omnitours.com.co/terms" do
				%p Terminos de uso
		.footer-content-adress
			.adress
				= image_tag "frontend/Logo_Twitter.png", class:"adress-icon-social"
				= image_tag "frontend/Logo_Twitter.png", class:"adress-icon-social"
				%center
					%p#follow ¡siguenos!
					.adress-content
						%p OMNI TOURS COLOMBIA LTDA
						%p RNT - 7873 PBX
						%p info@omnitours.com.co Calle 54 A
						%p #15-76 L7 | Bogota D.C. Colombia
		.footer-content-logo
			.logo-onmi
				%center
					= image_tag "frontend/Logo_Omnitours2.png", id:"logo-omni"
		.footer-content-payment
			%p MEDIOS DE PAGO
			.icon-pago
				= image_tag "frontend/Logo_AmericanExpress.png", id:"american"

				= image_tag "frontend/Logo_MasterCard.png", id:"master"

				= image_tag "frontend/Logo_DinnerClass.png", id:"dinner"

				= image_tag "frontend/Logo_Visa.png", id:"visa" 
		.footer-content-bank
			.more-logos.hidden-xs
				= image_tag "frontend/Logo_Davivienda.png", id:"davivienda"

				= image_tag "frontend/Logo_BanCOlombia.png"

	.web-footer-certificados
		%ul
			%li
				= image_tag "frontend/Certificaciones_2.png"
			%li	
				= image_tag "frontend/Certificaciones3.png"
			%li
				= image_tag "frontend//Certificaciones_1.png"
			%li
				= image_tag "frontend/Logo_Colombia2.png"
			%li
				= image_tag "frontend/Logo_ProExport.png"
			%p.text-certificados Las fotos contenidas en este website son cortesia de ProColombia, prohibida reproduccion total o parcial
	
	.web-footer-creditos
		.netactica
			%p POWERED BY
			= image_tag "frontend/logo_Netactica.png", id:"logo-netactica"

		.slice
			%p DESING BY
			= link_to "http://slicegroup.xyz" do
				= image_tag "frontend/slice.png", id:"logoslice"
