= title "Omnitours Colombia - Paquetes, vuelos, hoteles y viaes en Colombia"

.catalogs
	- @catalogs.each do |catalog|
		- unless catalog.attachments_publised.empty?
			.catalog-header
				.row{style:"width:100%; margin: 0px;"}
					.col-lg-5{style:"padding: 0px;"}
						.catalog-title
							.icon.pull-left
								- if catalog.section == "excursiones-terrestres"
									= image_tag "frontend/packages/ExcursionesTerrestres.png", class:"hidden-xs"

								- elsif catalog.section == "porciones-terrestres"
									= image_tag "frontend/packages/PorcionTerrestre.png", class:"hidden-xs"

								- elsif catalog.section == "porciones-terrestres-multidestinos"
									= image_tag "frontend/packages/Multidestino.png", class:"hidden-xs"

								- elsif catalog.section == "Actividades-destacadas"
									= image_tag "frontend/packages/PorcionTerrestre.png", class:"hidden-xs"
								%p #{catalog.title.mb_chars}
					- unless catalog.description.empty?
						.col-lg-4.hidden-xs.hidden-sm{style:"padding: 0px;"}
							.catalog-description
								.pull-left.border-description
									%p #{catalog.description.html_safe} 

		.catalog-body
			.attachment-content.row.responsive.hidden-xs.hidden-sm.hidden-md
				- catalog.attachments_publised.each do |attachment|
					.col-lg-4
						= link_to "" do
							.attachment{style:"background: url(#{attachment.attachment_images.first.image})"}
								.attachment-mask
									.attachment-mask-header
										.attachment-mask-header-title
											- if attachment.catalog.section != "Actividades-destacadas"
												%p= attachment.name.mb_chars
												%small #{attachment.number_of_days.mb_chars} días
											- else
												%p.text-size= attachment.name.mb_chars
										

									.attachment-mask-body
										%p.name= attachment.name.mb_chars
										%p.category= attachment.subtitle.mb_chars
										- if attachment.catalog.section != "Actividades-destacadas"
											- unless attachment.price.empty?
												.attachment-mask-header-price
													%small Desde
													%p= attachment.price
										- if attachment.catalog.section == "Actividades-destacadas"
											= link_to "VER MÁS", attachment.url, class: "view-more"
										- else
											= link_to "VER MÁS", package_path(catalog.permalink, attachment.permalink), class: "view-more"
										#socials
											= social_share_button_tag(attachment.name, url: "#{request.base_url+package_path(catalog.permalink, attachment.permalink)}", image: attachment.attachment_images.first.image, desc: attachment.category.name, via: "omnitours")

			.attachment-content.row.hidden-lg
				- catalog.attachments_publised.each do |attachment|
					.col-lg-4.col-md-6.col-sm-6
						= link_to "" do
							.attachment{style:"background: url(#{attachment.attachment_images.first.image})"}
								.attachment-mask
									.attachment-mask-header
										.attachment-mask-header-title
											- if attachment.catalog.section != "Actividades-destacadas"
												%p= attachment.name.mb_chars
												%small #{attachment.number_of_days.mb_chars} días
											- else
												%p.text-size= attachment.name.mb_chars
										- unless attachment.price.empty?
											.attachment-mask-header-price.hidden-xs.hidden-sm.hidden-md
												%small Desde
												%p= attachment.price

									.attachment-mask-body
										%p.name= attachment.name.mb_chars
										%p.category= attachment.subtitle.mb_chars
										- if attachment.catalog.section == "Actividades-destacadas"
											= link_to "VER MÁS", attachment.url, class: "view-more"
										- else
											= link_to "VER MÁS", package_path(catalog.permalink, attachment.permalink), class: "view-more"
										#socials
											= social_share_button_tag(attachment.name, url: "#{request.base_url+package_path(catalog.permalink, attachment.permalink)}", image: attachment.attachment_images.first.image, desc: attachment.category.name, via: "omnitours")
:javascript
	$('.responsive').slick({
		dots: false,
		infinite: true,
		speed: 400,
		slidesToShow: 3,
		slidesToScroll: 1,
		autoplay: true,
		autoplaySpeed: 5000,
		arrows: true,
		responsive: [
			{
				breakpoint: 1024,
				settings: {
					slidesToShow: 3,
					slidesToScroll: 3,
					infinite: true,
					dots: true
				}
			},
			{
				breakpoint: 600,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
				}
			},
			{
				breakpoint: 480,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				}
			}
		]
	});