= title "Paquete - #{@attachment.name}"
= meta_description("#{@attachment.subtitle.html_safe}")


.package-information
	.package-category.hidden-xs
		= link_to "Omnitours >", "http://www.omnitours.com.co"
		= link_to "#{@attachment.catalog.section.gsub(/[^0-9A-Za-z]/, ' ').humanize} >", root_path
		= link_to "#{@attachment.catalog.title.downcase.humanize}", "#", id:"link-bold"
	.attachment-information
		.row{style:"width:100%; margin: 0px;"}
			.attachment-description
				.col-lg-4.attachment-description-items{style:"padding: 0px;"}

					%p#title #{@attachment.name}
					%p#name #{@attachment.subtitle}
					%p.text-title Próxima Salida
					%p.text-variable #{@attachment.next_exit}
					%br
					- unless @attachment.notes.empty?
						%p.text-title Descripción de plan
						%p #{@attachment.notes.html_safe}
					- unless @attachment.price.empty?
						%p.text-price.hidden-lg.hiden-md.hidden-sm.hidden-xs Desde #{@attachment.price}
					= select_tag "btn-reservas", options_from_collection_for_select(@attachment.plans, :url, :name), include_blank: "Seleccione plan", class: "form-control", id: "select-reserva"
					= link_to "RESERVAR", "#{@attachment.url}", class:"link-reserva", id: "btn-reserva"


				.col-lg-2{style:"padding: 0px;"}
					.row{style:"width:100%; margin: 0px;"}

						.col-lg-12.col-xs-6.hidden-xs
							.attachment-day.pull-right.hidden-sm
								= image_tag "frontend/packages/Dias/Dias #{@attachment.number_of_days}"

						.col-lg-12.col-xs-6.hidden-xs.hidden-sm
							.attachment-section.pull-right
								-if @attachment.catalog.section == "excursiones-terrestres"
									= image_tag "frontend/packages/ExcursionesTerrestres.png"

								-elsif @attachment.catalog.section == "porciones-terrestres"
									= image_tag "frontend/packages/PorcionTerrestre.png"

								-elsif @attachment.catalog.section == "porciones-terrestres-multidestinos"
									= image_tag "frontend/packages/Multidestino.png"

								- elsif @attachment.catalog.section == "Actividades-destacadas"
									= image_tag "frontend/packages/PorcionTerrestre.png"



				.col-lg-6{style:"padding: 0px;"}
					.attachment-images
						#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
							.carousel-inner{:role => "listbox", style:"width:100%; height:350px;"}
								- @attachment.attachment_images.each_with_index do |img, index|
									%div{:class => "item #{'active' if index == 0}", "data-slide-number" => index, style:"background: url(#{img.image}); height:350px; background-size:cover;"}
										
								%a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
									%span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
									%span.sr-only Previous
								%a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
									%span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
									%span.sr-only Next

	.package-body.hidden-xs.hidden-sm
		.row{style:"width:100%; margin: 0px;"}
			.col-lg-8{style:"padding: 0px;"}
				.package-body-map
					#{@attachment.map.html_safe}
					
				- unless @attachment.date_image.blank?
					.packege-body-price-for-person
						%h4 PRECIOS POR PERSONA
						= image_tag "#{@attachment.date_image}"

				- unless @attachment.description.empty? && @attachment.opcional.empty?
					.row.packege-body-importanr-and-opcional{style:"width:100%;"}
						- unless @attachment.description.empty?
							.col-lg-6{style:"padding: 0px;"}
								%i.fa.fa-bullhorn#icon-bull
								%h4 IMPORTANTE
								%p{style:"margin-top: 12px;"} #{@attachment.description.html_safe}

						- unless @attachment.opcional.empty?
							.col-lg-6{style:"padding: 0px;"}
								%i.fa.fa-map-marker#icon-map
								%h4 OPCIONAL
								%p #{@attachment.opcional.html_safe}


			- unless @attachment.include_plan.empty? && @attachment.no_include_plan.empty?
				.col-lg-4{style:"padding: 0px;"}
					.package-body-incluye-no-incluye

						- unless @attachment.include_plan.empty?
							%h4 EL PLAN INCLUYE
							#{@attachment.include_plan.html_safe}

						- unless @attachment.no_include_plan.empty?

							%h4{style:"margin-top: 15px;"} EL PLAN NO INCLUYE
							#{@attachment.no_include_plan.html_safe}

	.package-body.hidden-lg
		.row{style:"width:100%; margin: 0px;"}
			.col-lg-8{style:"padding: 0px;"}
				.package-body-map
					#{@attachment.map.html_safe}
					
				- unless @attachment.date_image.blank?
					.packege-body-price-for-person
						%h4 PRECIOS POR PERSONA
						= image_tag "#{@attachment.date_image}"

				- unless @attachment.description.empty? && @attachment.opcional.empty?
					.row.packege-body-importanr-and-opcional{style:"width:100%;"}
						- unless @attachment.description.empty?
							.col-lg-6{style:"padding: 0px;"}
								%i.fa.fa-bullhorn#icon-bull
								%h4 IMPORTANTE
								%p{style:"margin-top: 12px;"} #{@attachment.description.html_safe}


			- unless @attachment.include_plan.empty? && @attachment.no_include_plan.empty?
				.col-lg-4{style:"padding: 0px;"}
					.package-body-incluye-no-incluye

						- unless @attachment.include_plan.empty?
							%h4 EL PLAN INCLUYE
							#{@attachment.include_plan.html_safe}

						- unless @attachment.no_include_plan.empty?

							%h4{style:"margin-top: 15px;"} EL PLAN NO INCLUYE
							#{@attachment.no_include_plan.html_safe}


			- unless @attachment.description.empty? && @attachment.opcional.empty?
				.row.packege-body-importanr-and-opcional{style:"width:100%;"}
					- unless @attachment.opcional.empty?
						.col-lg-6{style:"padding: 0px;"}
							%i.fa.fa-map-marker#icon-map
							%h4 OPCIONAL
							%p #{@attachment.opcional.html_safe}


- unless @attachment.itinerary.empty?
	.package-itinerario
		%center
			%h4.package-itinerario-title ITINERARIO DE VIAJE
		#{@attachment.itinerary.html_safe}






:javascript
	$('.carousel').carousel({
	  interval: 5000
	})
