%li.collection-item.avatar.nested-fields
	= image_tag f.object.image, width: "48px;", class: "circle"
	= f.input :image, label: t("model.#{controller_name.singularize}.attributes.cover"), :as => :file_material, label: false, wrapper_html: { class: "file-field", id: "image-#{f.object.id}"}
	= link_to_remove_association "<i class='material-icons md-24'>delete</i>".html_safe, f, class: "secondary-content"
	- if f.object.created_at?
		:javascript
			$("#image-#{f.object.id} .file-path").val("#{f.object.image_identifier}")
