- (action_name == "new" or action_name == "create") ? action="create" : action="update"

.wrapper
	.wrapper-body.container
		.actions
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			
			.card
				= simple_form_for @attachment, :url => url_for(:action => action, :controller => 'attachments') do |f|
					.row
						= f.input :name, label: t("model.#{controller_name.singularize}.attributes.name")	

						= f.input :subtitle, label: t("model.#{controller_name.singularize}.attributes.subtitle")				

						= f.input :price, label: t("model.#{controller_name.singularize}.attributes.price")

						= f.input :number_of_days, label: t("model.#{controller_name.singularize}.attributes.number_of_days")

						= f.input :next_exit, label: t("model.#{controller_name.singularize}.attributes.next_exit")

						= f.association :category, label: false,include_blank: "- Selecciona una categoria -", input_html: { class: "browser-default", style: "margin-bottom: 30px;" }	

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px;"} Planes
						%ul.collection{ style: "margin: 5px 10px;"}
							= f.simple_fields_for :plans do |plan|
								= render 'plan_fields', f: plan
							%center{ style: "padding: 20px;"}
								= link_to_add_association 'Añadir Plan', f, :plans, class: "waves-light btn", style: "width: 100%"

						= f.input :map, input_html: {class: "materialize-textarea"}, label: t("model.#{controller_name.singularize}.attributes.map")

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px;"} Descripcion
						= f.input :notes, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }	

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px; position:relative; top: 10px;"} Importante
						= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px;"} Opcional
						= f.input :opcional, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }	

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px; position:relative; top: 12px;"} ¿Qué incluye el plan?
						= f.input :include_plan, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }	

						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px;"} ¿Qué no incluye el plan?
						= f.input :no_include_plan, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }	
						
						= f.input :itinerary, :as => :ckeditor, label: "Itinerario del viaje", input_html: { :ckeditor => { :toolbar => 'short'} }

						- if action_name == "update" or action_name == "edit" and @attachment.date_image.file
							%h6.right-align{style: "color: #000; display: inline; float: right; position: relative; left: -10px;"} Eliminar imagen
							.switch{style:"float: right; position: relative; top: 3px"}
								%label
									= check_box_tag :remove_image
									%span.lever
							

						= f.input :date_image, :as => :file_material, label: false, wrapper_html: { class: "file-field" }

					.row
						%h6{style: "color: #9e9e9e; margin-top:15px; margin-left:10px;"} Imagenes
						%ul.collection{ style: "margin: 5px 10px;"}
							= f.simple_fields_for :attachment_images do |image|
								= render 'attachment_image_fields', f: image
							%center{ style: "padding: 20px;"}
								= link_to_add_association 'Añadir Imagen', f, :attachment_images, class: "waves-light btn", style: "width: 100%"
						= f.input :public, label: "¿Desea publicar este archivo?", as: :checkbox_material	
							

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"


- if @attachment.date_image.file
	:javascript
		$('.file-path').val("#{@attachment.date_image.file.filename}")