.listing-show-header
	.actions
		- if can? :update, model
			= link_to edit_catalog_attachment_path(params[:catalog_id], @attachment), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.perm_media.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.slider
		%ul.slides
			- @attachment.attachment_images.each do |img|
				%li
					= image_tag img.image
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @attachment.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.price")
			.display-value= @attachment.price
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.number_of_days")
			.display-value= @attachment.number_of_days
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= sanitize(@attachment.description, tags: []).truncate(300)
		-if @attachment.category.name?
			%li.list-row
				.display-label= t("model.#{controller_name.singularize}.attributes.category")
				.display-value= @attachment.category.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.public")
			.display-value= @attachment.public? ? "Si" : "No"	

:javascript
	$('.tooltipped').tooltip({delay: 1});
	$('.slider').slider({full_width: true, height: 200});
