%li.collection-item.avatar.nested-fields{style:"min-height: 180px;"}
	= f.input :name, label: "Nombre del plan", wrapper_html: { class: "file-field", id: "image-#{f.object.id}"}
	= f.input :url, label: "Enlace del plan", wrapper_html: { class: "file-field", id: "image-#{f.object.id}"}
	= link_to_remove_association "<i class='material-icons md-24'>delete</i>".html_safe, f, class: "secondary-content"