= title "Archivo | #{@attachment.id}"
= header_information do
	= link_to "Catálogos", catalogs_path
	= ">"
	= link_to "#{@catalog.title.humanize}", catalog_attachments_path
	= "> #{@attachment.name.humanize}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, model
				= link_to catalog_attachment_path(params[:catalog_id], @attachment), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, model
				= link_to edit_catalog_attachment_path(params[:catalog_id], @attachment), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to catalog_attachments_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card{style: "padding: 0px"}		
			.card-image
				.slider
					%ul.slides
						- @attachment.attachment_images.each do |img|
							%li
								= image_tag img.image
			.card-content
				%ul.list
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.name")
						.display-value.fs-body-1.tc-black-2= @attachment.name.humanize
					-if @attachment.category.name
						%li.list-row
							.display-label= t("model.#{controller_name.singularize}.attributes.category")
							.display-value.fs-body-1.tc-black-2= @attachment.category.name.humanize
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.price")
						.display-value.fs-body-1.tc-black-2= @attachment.price
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.number_of_days")
						.display-value.fs-body-1.tc-black-2= @attachment.next_exit
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.number_of_days")
						.display-value.fs-body-1.tc-black-2= @attachment.number_of_days
					%li.list-row
						.display-label= "Enlaces de planes"
						- @attachment.plans.each do |plan|
							.display-value.fs-body-1.tc-black-2= plan.name
							%br
							.display-value.fs-body-1.tc-black-2= plan.url
							%br
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.map")
						.display-value.fs-body-1.tc-black-2= @attachment.map
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.notes")
						.display-value.fs-body-1.tc-black-2= @attachment.notes
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.description")
						.display-value.fs-body-1.tc-black-2= @attachment.description.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.include_plan")
						.display-value.fs-body-1.tc-black-2= @attachment.include_plan.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.no_include_plan")
						.display-value.fs-body-1.tc-black-2= @attachment.no_include_plan.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.itinerary")
						.display-value.fs-body-1.tc-black-2= @attachment.itinerary.html_safe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.date_image")
						.card-image
							= image_tag @attachment.date_image
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.public")
						.display-value.fs-body-1.tc-black-2= @attachment.public? ? "Si" : "No"
	
