.dropdow-content-listing{
	top: 45px !important;
	left: -45px !important;
	border-radius: 2px !important;
	background-color: #FFFFFF !important;
	overflow: hidden !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
	li{
		a{
			font-size: 0.8em;
			color: black;
			padding: 5px 10px 5px 10px;
		}
	}
}

.attachment_description, .attachment_include_plan, .attachment_itinerary, .attachment_no_include_plan{
	margin: 20px 0px;

	.control-label.active{
		top: 5px;
		font-size: 1rem;
	}

	.control-label{
		top: -25px;
		font-size: 1rem;
	}
}


#remove_image{
	position: relative;
    left: 0;
    visibility: visible;
}

.ckeditor{
	z-index: 2;
} 
