//Responsive design
$desktop-large: "(min-width:1600px)";
$desktop: "(min-width:992px)";

$tablet-landscape: "(min-width:768px) and (orientation : landscape)";
$tablet-portrait: "(min-width: 768px) and (max-width:991px)";

$tablet-7: "only screen and (min-width: 600px) and (max-width: 795px) and (orientation : portrait)";
$tablet-7-landscape: "only screen and (min-width: 680px) and (max-width: 979px) and (orientation : landscape)";

$phone-small: "(max-width: 467px)";
$phone-landscape: "(max-device-width: 767px) and (orientation: landscape)";

$roboto: 'Roboto', sans-serif;

//colores
$primary-color: #fcd10a;
$bg-primary: #fff;
$mask-color: rgba(21, 166, 86, 0.8);


